<h1>{{name}}</h1>
<p>Email: {{email}}</p>
<p>Address: {{address.street}} {{address.city}}, {{address.country}}</p>
<button (click)="toggleColorList()">{{showColors ? "Hide":"Show"}} Color User List</button>
<div *ngIf="showColors">
<h3>User Colors</h3>
<ul>
    <li *ngFor="let color of colors; let i = index">
    {{color}} <button (click)="deleteColor(i)">X</button>
    </li>
    <br/>    
    <form (submit)="addNewColor(color.value)">
         <label>Add new color: </label><br/>
         <input type="text" #color/>
    </form>
</ul>
</div>
<hr />
<h3>Edit User</h3>
<form>
    <label>Name: </label><br/>
    <input type="text" name="name" [(ngModel)]="name"/><br/>
    <label>Email: </label><br/>
    <input type="text" name="email" [(ngModel)]="email"/><br/>
    <label>Street: </label><br/>
    <input type="text" name="address.street" [(ngModel)]="address.street"/><br/>
    <label>City: </label><br/>
    <input type="text" name="address.city" [(ngModel)]="address.city"/><br/>
    <label>Country: </label><br/>
    <input type="text" name="address.country" [(ngModel)]="address.country"/><br/>
</form>